/* app css stylesheet */

.content {
  padding: 1rem;
}

.card-crime {
  padding: 1.5rem;
  -webkit-box-shadow: 5px 2px 19px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 2px 19px -5px rgba(0,0,0,0.75);
  box-shadow: 5px 2px 19px -5px rgba(0,0,0,0.75);
  margin-bottom: 1rem;
}



.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
