/* app css stylesheet */
* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

.content {
  background: #eee;
  padding: 2rem;
}

.card-crime {
  background: #fff;
  padding: 1rem;
  -webkit-box-shadow: 5px 2px 19px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 2px 19px -5px rgba(0,0,0,0.75);
  box-shadow: 5px 2px 19px -5px rgba(0,0,0,0.75);
  margin-bottom: 1rem;
}

.card-crime .card-crime__category,
.card-crime .card-crime__date {
  float: left;
  width: 50%;
}

.card-crime .card-crime__category {
  text-align: right;
}

.card-crime  .card-crime__category span {
  background: #eee;
  display: inline-block;
  padding: 0.5em 1rem;
  border-radius: 2em;
  font-size: 1rem;
}

.filters .filters__column {
  float: left;
  width: 50%;
  text-align: center;
}
