/* app css stylesheet */

.content {
  background: #eee;
  padding: 2rem;
}

.card-crime {
  background: #fff;
  padding: 1rem;
  -webkit-box-shadow: 5px 2px 19px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 2px 19px -5px rgba(0,0,0,0.75);
  box-shadow: 5px 2px 19px -5px rgba(0,0,0,0.75);
  margin-bottom: 1rem;
}

.card-crime .card-crime__category,
.card-crime .card-crime__date {
  float: left;
  width: 50%;
}

.card-crime .card-crime__category {
  text-align: right;
}



.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
