
<!-- filters -->
<div class="filters clearfix">
    <div class="filters__column">
        <form class="form">
            <label for="month">Month</label>
            <select id="month" class="form-control" ng-model="$ctrl.month">
                <option value="">-- Filter by Month --</option>
                <option ng-repeat="monthFilter in $ctrl.monthFilters" value="{{ monthFilter.value }}">{{ monthFilter.name }}</option>
            </select>
        </form>
    </div>
    <div class="filters__column">
        <form class="form">
            <label for="category">Category</label>
            <select id="category" class="form-control" ng-model="$ctrl.category">
                <option value="">-- Filter by Category --</option>
                <option ng-repeat="categoryFilter in $ctrl.categoryFilters" value="{{ categoryFilter.value }}">{{ categoryFilter.name }}</option>
            </select>
        </form>
    </div>
</div>

<!-- pagination -->
<dir-pagination-controls max-size="7" template-url="../../bower_components/angularUtils-pagination/dirPagination.tpl.html"></dir-pagination-controls>

<!-- crime cards -->
<div class="card-crime" dir-paginate="  crime in $ctrl.crimes |
                                        filter: $ctrl.month |
                                        filter: $ctrl.category |
                                        itemsPerPage: $ctrl.pageSize" current-page="$ctrl.currentPage">

    <div class="clearfix card-crime__top">
        <div class="card-crime__date"><strong>Incident Date:</strong> {{ crime.month | date: 'MMM yyyy' }}</div>
        <div class="card-crime__category"><span> {{ crime.category }}</span></div>
    </div>
    <div class="clearfix card-crime__bottom">
        <div ng-if="crime.outcome_status.category">
            <div class="card-crime__outcome"><strong>Outcome:</strong> {{ crime.outcome_status.category }}</div>
        </div>
        <div class="card-crime__location"><strong>Location:</strong> {{ crime.location.street.name }}</div>
    </div>
</div>

